.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 0 2px 3px 2px rgb(4, 4, 4);
    background: blanchedalmond;

}
.nav-logo{
    display: flex;
    align-items: center;
    gap:10px
}
.nav-manu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: burlywood;
    font-size: 20px;
    font-weight: 100px;

}
.nav-manu li{
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.nav-manu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: brown;
}
.nav-login-cart button{
   width: 157px;
   height: 58px;
   outline: none;
   border: 1px solid cadetblue;
   border-radius: 75px;
   color: aqua;
   font-size: 20px;
   font-weight: 500;
   background: rgb(230, 206, 206);
   cursor: pointer;
   display: content;

}
.nav-login-cart button:active{
    background-color: aqua;
}
.nav-cart-count{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 11px;
    font-size: 20px;
    background-color: brown;
    color: rgb(23, 23, 23);

}
/* @media(max-width:500px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo-img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart {
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: 50px;
        font-size: 90px;
    }
} */