.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 0 2px 3px 2px rgb(4, 4, 4);

}
.nav-logo{
    display: flex;
    align-items: center;
    gap:10px
}
.nav-manu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: burlywood;
    font-size: 20px;
    font-weight: 100px;

}
.nav-manu li{
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.nav-manu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: brown;
}
.nav-login-cart button{
   width: 157px;
   height: 58px;
   outline: none;
   border: 1px solid cadetblue;
   border-radius: 75px;
   color: aqua;
   font-size: 20px;
   font-weight: 500;
   background: white;
   cursor: pointer;

}
.nav-login-cart button:active{
    background-color: aqua;
}
.nav-cart-count{
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: brown;
    color: blue;

}