.productdisplay{
    display: flex;
    margin:0px 170px;
    
}
.productdisplay-left{
    
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list{
    height: 163px;

}
.productdisplay-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin: 0px 70px;
    
    flex-direction: column;
}
.productdisplay-right h1{
    color: rgb(18, 20, 20);
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: rgb(0, 255, 255);
    font-size: 16px;
}
.productdisplay-right-prices{
    
    margin: 40px 30px 20px 10px;
    gap: 40px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #e32222;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: blue;
}
/* .productdisplay-right-description{
    margin-top: 55px;
    color: rgb(90, 76, 219);
    font-size: 20px;
    font-weight: 600;

} */
.productdisplay-right-size h1{
    margin-top: 55px;
    color: blueviolet;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(27, 26, 25);
    background: #e32222;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;   
}
.productdisplay-right-category{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(41, 11, 240);
}
.productdisplay-right-category span{
    font-weight: 700px;

}


