.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 550px;
    background-color: rgb(216, 170, 170);

}
.new-collections h1{
    color:#171717;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display:flex;
    
    margin-top: 30px;
    gap: 20px;
}